@model BuildingManagementSystem.Web.ViewModels.Expenses.ManagerModules.PayExpenseViewModel

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Плащане на разход</h2>
        <hr />
        <hr />

        <p class="mb-4"><b>БЕЛЕЖКА:</b> Всеки платен разход в брой или от банковата сметка на Етажната собственост трябва да се въведе във формата и да се запише</p>
    </div>

    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2 mt-4">
        <form method="post" asp-action="PayExpense" asp-controller="Administration">
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.ExpenseTypeId"></label>
                <select asp-for="@Model.ExpenseTypeId" class="form-control">
                    @foreach (var expense in Model.Expenses)
                    {
                        <option value="@expense.Id"> @expense.Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-credit-card"></i>
                <label asp-for="@Model.PaymentTypeId"></label>
                <select asp-for="@Model.PaymentTypeId" class="form-control">
                    @foreach (var payment in Model.Payments)
                    {
                        <option value="@payment.Id"> @payment.PaymentType</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-euro-sign"></i>
                <label asp-for="@Model.Amount"></label>
                <input asp-for="@Model.Amount" class="form-control" />
                <span asp-validation-for="@Model.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-pen"></i>
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <p class="text-primary mb-3">Моля след като добавите разход натиснете бутона <b>'ЗАПИШИ'</b>!</p>

            <input type="submit" class="btn btn-primary text-uppercase" value="Откажи" onclick="window.location= '@Url.Action( "Info", "Home")'" />
            <input type="submit" class="btn btn-primary text-uppercase" value="Запиши" />
        </form>
        <br />
    </div>
</div>
