@model IEnumerable<BuildingManagementSystem.Web.ViewModels.Properties.EditPropertyFormModel>

@{
    ViewData["Title"] = "гр. София, ул. Първа, №101";

    int count = 1;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Домова книга</h2>
        <h3 class="text-center text-info">Редактиране на имот</h3>
        <hr />
        <hr />
        <p class="mb-5 text-black"><b>ВАЖНО: </b>Натиснете бутона <b class="text-warning">"Редактирай"</b> на избрания за редактиране имот.</p>
        <h5 class="text-center text-black">Списък на имотите в сграда "Моята кооперация".</h5>
    </div>

    <a><b>@ViewData["Title"]</b></a>
    <table class="table table-responsive-sm mt-4">
        <thead class="table-info">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Тип на имота</th>
                <th scope="col">Етаж №</th>
                <th scope="col">Имот №</th>
                <th scope="col">Продаден</th>
                <th scope="col">Собственик</th>
                <th scope="col">Съсобственик</th>
                <th scope="col">Кучета (бр.)</th>
                <th scope="col">Статус</th>
                <th scope="col">РЕДАКЦИЯ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@property.PropertyType</td>
                    <td>@property.PropertyFloor</td>
                    <td>@property.PropertyNumber</td>
                    <td>@property.IsSold</td>
                    <td>@property.UserId</td>
                    <td>@property.CoOwner</td>
                    <td>@property.DogCount</td>
                    <td>@property.StatusId</td>
                    <td>
                        <div class="align-content-lg-around float-md-none float-md-none">
                            <a asp-controller="Manager" asp-action="EditProperty" asp-route-id="@property.Id" class="btn btn-outline-warning btn-sm ">Редактирай</a>
                            @*<button id="@property.Id" type="submit" class="registerButton btn btn-outline-primary btn-sm">Регистрирай</button>*@
                            @*<input type="submit" class="btn btn-outline-primary text-uppercase" value="Регистрирай" onclick="window.location= '@Url.Action( "Info", "Home")'" />*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
