@using BuildingManagementSystem.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    @*These three files below were added by me. I want Font Awesome to be accessible globally in my project.*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light border-bottom box-shadow mb-3 m-2">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://media.istockphoto.com/illustrations/cartoon-building-illustration-id164470535?s=612x612" width="70" height="80" alt="LOGO" />
                </a>
                <a class="navbar-brand d-sm-inline-flex text-primary" asp-area="" asp-controller="Home" asp-action="Index"><b>@GlobalConstants.ShortSystemName</b></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-inline-flex p-2 flex-sm-row-reverse m-1">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Info">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Faq">Въпроси</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Публичен_модул
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Tenants" asp-action="RegisterTenant">Регистриране на наемател</a>
                                <a class="dropdown-item" asp-controller="Modules" asp-action="Index">Справка: приходи/разходи/задължения</a>
                                <a class="dropdown-item" asp-controller="Registrations" asp-action="RegisterTenant">Документи</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown flex-grow-1">
                                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Административен_модул
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Manager" asp-action="AddIncome">Добавяне на приход</a>
                                    <a class="dropdown-item" asp-controller="Manager" asp-action="PayExpense">Плащане на разход</a>
                                    <a class="dropdown-item" asp-controller="Manager" asp-action="AddFee">Добавяне на нова месечна такса</a>
                                    <a class="dropdown-item" asp-controller="Modules" asp-action="Index">Справка: приходи/разходи/задължения</a>
                                    <a class="dropdown-item" asp-controller="Manager" asp-action="ChangeFee">Корекция на месечно задължение на имот</a>
                                    <a class="dropdown-item" asp-controller="Tenants" asp-action="GetAllTenants">Списък на регистрираните наематели</a>
                                    <a class="dropdown-item" asp-controller="Registrations" asp-action="ShowAllUsers">Списък на регистрираните потребители</a>
                                    <a class="dropdown-item" asp-controller="Documents" asp-action="UploadDocument">Качи документи</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Registrations" asp-action="Index">Домова_книга</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
    <br />
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="container-fluid border-top footer text-muted bg-light">
        <div class="row">
            <div class="text col-md-5 offset-1">
                ВСИЧКИ ПРАВА СА ЗАПАЗЕНИ &copy; @DateTime.UtcNow.Year - @GlobalConstants.SystemName
            </div>
            <div class="text-right col-md-4">
                <a href="https://github.com/IvayloFilipov/BMS-BuildingManagementSystem" target="_blank">ПРОДУКТ С ОТВОРЕН КОД (Open source system)</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>