@model BuildingManagementSystem.Web.ViewModels.Tenants.RegisterTenantViewModel

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Домова книга</h2>
        <h3 class="text-center text-info">Изтриване на наемател</h3>
        <hr />
        <hr />
        <p class="mb-4">Вие се намирате на страницата за <b>Изтриване на наемател</b> от функционалността по достъпване на данни от електронната Домова книга.</p>
        <p class="mb-4">За да изтриете показания наемател маркирайте чек-бокса и натиснете бутона <b>'ИЗТРИЙ НАЕМАТЕЛ'</b>.</p>
    </div>

    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <form method="post" asp-action="DeleteTenant" asp-controller="Tenants" id="deleteTenant">
            <div class="form-group mt-4">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.FirstName"></label>
                <input class="form-control text-secondary" type="text" asp-for="@Model.FirstName" id="FirsName" name="FirstName" placeholder="Име..." />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.LastName"></label>
                <input class="form-control text-secondary" type="text" asp-for="@Model.LastName" id="LastName" name="LastName" placeholder="Фамилия..." />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="isDeleted">
                <label class="form-check-label" for="isDeleted">
                    Маркирай за да се изтрие показаният наемател!
                </label>
            </div>

            @*<input type="hidden" asp-for="@Model.OwnerId" />*@
            @*<input type="button" class="btn btn-primary text-uppercase" value="Изтрий наемател" onclick="window.location= '@Url.Action( "Index", "Home")'" />*@
            <button type="button" class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#modalEdit">Изтрий наемател</button>
        </form>
        <br />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="modalEditLabel">Изтриване на наемател!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger"><b>Желаете ли да изтриете наемателя?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">Откажи</button>
                <button type="button" class="btn btn-danger text-uppercase" onclick="deleteTenant.submit()">Изтрий</button>
            </div>
        </div>
    </div>
</div>