@model IEnumerable<BuildingManagementSystem.Web.ViewModels.ManagerModules.Reports.PaidIncomesViewModel>

@{
    ViewData["Title"] = "гр. София, ул. Първа, №101";

    int count = 1;

    decimal totalAmount = 0m;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Справка за приходите</h2>
        <hr />
        <hr />
        <h5 class="text-center text-info mb-5">Хронологична справка за получените приходи (в лева) за @DateTime.UtcNow.Year год.</h5>
    </div>

    <a><b>@ViewData["Title"]</b></a>
    <table class="table table-responsive-sm mt-4">
        <thead class="table-info">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Приход</th>
                <th scope="col">Стойност</th>
                <th scope="col">Начин на плащане</th>
                <th scope="col">Получен в</th>
                <th scope="col">Година</th>
                <th scope="col">Относно</th>
                <th scope="col">Задължен обект</th>
                <th scope="col">Платец</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var income in Model)
            {
                totalAmount += income.Amount;

                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@income.IncomeDescription</td>
                    <td>@income.Amount лв.</td>
                    <td>@income.PaymentType</td>
                    <td>@income.CreatedOnMonth</td>
                    <td>@income.CreatedOnYear год.</td>
                    <td>@income.PaymentPeriod</td>
                    <td>@income.Property</td>
                    <td>@income.PayerName</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h5 class="text-danger"><b>Приходи общо:</b> @totalAmount лв.</h5>
        <br />
        <button class="btn btn-warning text-uppercase align-items-lg-end" onclick="window.print()">Принтирай</button>
    </div>
    <br />
</div>
