@model IEnumerable<BuildingManagementSystem.Web.ViewModels.ManagerModules.Reports.PaidExpensesViewModel>

@{
    ViewData["Title"] = "гр. София, ул. Първа, №101";

    int count = 1;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Справка за разходите</h2>
        <hr />
        <hr />
        <h5 class="text-center text-black mb-5">Справка за извършените разходи (в лева) за @DateTime.UtcNow.Year год.</h5>
    </div>

    <a><b>@ViewData["Title"]</b></a>
    <table class="table table-responsive-sm mt-4">
        <thead class="table-info">
            <tr>
                <th scope="col">№</th>
                <th scope="col">РАЗХОДИ</th>
                <th scope="col">Януари</th>
                <th scope="col">Февруари</th>
                <th scope="col">Март</th>
                <th scope="col">Април</th>
                <th scope="col">Май</th>
                <th scope="col">Юни</th>
                <th scope="col">Юли</th>
                <th scope="col">Август</th>
                <th scope="col">Септември</th>
                <th scope="col">Октомври</th>
                <th scope="col">Ноември</th>
                <th scope="col">Декември</th>
                <th scope="col">СУМА</th>
            </tr>
        </thead>
        <tbody>
            @*<tr class="text-black">
                    <td><b>1</b></td>
                    <td><b>Почистване</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>2</b></td>
                    <td><b>Управление</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>3</b></td>
                    <td><b>Банк. с/ка</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>4</b></td>
                    <td><b>Ел. енергия: общи части</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>5</b></td>
                    <td><b>Асансьор</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>6</b></td>
                    <td><b>Ел. енергия: асансьор</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>7</b></td>
                    <td><b>Други</b></td>
                </tr>
                <tr class="text-black">
                    <td><b>8</b></td>
                    <td><b>Общо</b></td>
                </tr>*@

            @foreach (var expense in Model)
            {
                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@expense.ExpenseType</td>
                    <td>@expense.CreatedOnMonth</td>
                    <td>@expense.CreatedOnYear</td>
                    <td>@expense.Amount</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><b>ОБЩО</b></td>
            </tr>
        </tfoot>
    </table>
</div>

