@model IEnumerable<BuildingManagementSystem.Web.ViewModels.ManagerModules.Reports.PaidExpensesViewModel>

@{
    ViewData["Title"] = "гр. София, ул. Първа, №101";

    int count = 1;

    decimal totalAmount = 0m;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Справка за разходите</h2>
        <hr />
        <hr />
        <h5 class="text-center text-info mb-5">Хронологична справка за извършените разходи (в лева) за @DateTime.UtcNow.Year год.</h5>
    </div>

    <a><b>@ViewData["Title"]</b></a>
    <table class="table table-responsive-sm mt-4">
        <thead class="table-info">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Тип разход</th>
                <th scope="col">Стойност</th>
                <th scope="col">Начин на плащане</th>
                <th scope="col">Платен в</th>
                <th scope="col">Година</th>
                <th scope="col">Кратко описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                totalAmount += expense.Amount;

                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@expense.ExpenseType</td>
                    <td>@expense.Amount лв.</td>
                    <td>@expense.PaymentType</td>
                    <td>@expense.CreatedOnMonth</td>
                    <td>@expense.CreatedOnYear год.</td>
                    <td>@expense.Description</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h5 class="text-danger"><b>Разходи общо:</b> @totalAmount лв.</h5>
        <br />
        <button class="btn btn-warning text-uppercase align-items-lg-end" onclick="window.print()">Принтирай</button>
    </div>
    <br />
</div>

