@model BuildingManagementSystem.Web.ViewModels.Registrations.RegisterAddressViewModel

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Домова книга</h2>
        <h3 class="text-center text-info">Стъпка 3 - Попълване на данните за постоянният Ви адрес</h3>
        <hr />
        <hr />

        <p>Моля попълнете полета от формата, валидни за <b class="text-danger">Вашият постоянен адрес</b>. След като го направите натиснете бутона <b>'ПРОДЪЛЖИ'</b> за да продължите попълването на електронната Домова книга.</p>
        @*<p class="mb-4"><b>Бележка:</b> Ако в предишната Стъпка - <b class="text-info">"Попълване на данните на физическото/юридическото лице"</b> сте пропуснали нещо или сте въвели некоректни данни може да се върнете назад, като натиснете един от двата бутона <b>'НАЗАД ЗА ФИЗИЧЕСКО / ЮРИДИЧЕСКО ЛИЦЕ'</b> и да направите корекция.</p>*@
    </div>

    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <form method="post" asp-action="RegisterAddress" asp-controller="Registrations">
            <div class="form-group mt-4">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.CityId"></label>
                <select asp-for="@Model.CityId" class="form-control">
                    @foreach (var city in Model.AllCities)
                    {
                        <option value="@city.Id">@city.City</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.District"></label>
                <input asp-for="@Model.District" class="form-control" />
                <span asp-validation-for="@Model.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.ZipCode"></label>
                <input asp-for="@Model.ZipCode" class="form-control" />
                <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.Street"></label>
                <input asp-for="@Model.Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.StreetNumber"></label>
                <input asp-for="@Model.StreetNumber" class="form-control" />
                <span asp-validation-for="@Model.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.BlockNumber"></label>
                <input asp-for="@Model.BlockNumber" class="form-control" />
                <span asp-validation-for="@Model.BlockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.EntranceNumber"></label>
                <input asp-for="@Model.EntranceNumber" class="form-control" />
                <span asp-validation-for="@Model.EntranceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.Floor"></label>
                <input asp-for="@Model.Floor" class="form-control" />
                <span asp-validation-for="@Model.Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.AppartNumber"></label>
                <input asp-for="@Model.AppartNumber" class="form-control" />
                <span asp-validation-for="@Model.AppartNumber" class="text-danger"></span>
            </div>

            @*<p class="text-primary mb-3">Моля направете своят избор!</p>*@

            <div class="mt-4 mb-3">
                @*<input type="submit" class="btn btn-primary text-uppercase" value="Продължи" onclick="window.location= '@Url.Action( "Index", "Properties")'" />*@
                <input type="submit" class="btn btn-primary text-uppercase" value="Продължи" />
            </div>

            @*<input type="button" class="btn btn-primary text-uppercase" value="Назад за физическо лице" onclick="window.location= '@Url.Action( "RegisterPerson", "Registrations")'" />

            <input type="button" class="btn btn-primary text-uppercase ml-2" value="Назад за юридическо лице" onclick="window.location= '@Url.Action( "RegisterCompany", "Registrations")'" />*@

            @*<input type="button" class="btn btn-primary text-uppercase ml-2" value="Назад" onclick="window.location= '@Url.Action( "RegisterCompany", "Registrations")'" />*@


        </form>
        <br />
    </div>
</div>
