@page
@model BuildingManagementSystem.Web.ViewModels.Registrations.RegisterPersonViewModel

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-2 col-ld-6 offset-ld-2">
        <h2>Регистрация за Домовата книга - Стъпка 2</h2>
        <p>Вие се намирате на <b>Стъпка 2</b> от попълване на данните за електронната Домова книга.</p>
        <hr />

        <p>Моля попълнете всички полета от формата. След като го направите натиснете бутона 'ПРОДЪЛЖИ' за да завършите подаването на данните.</p>
        <p><b>Бележка:</b> Ако в предишната Стъпка сте направили неправилен избор може да се върнете назад, като натиснете бутона 'НАЗАД' и да коригирате Вашия избор.</p>
    </div>

    <div class="col-sm-12 col-md-6 offset-md-2 col-ld-6 offset-ld-2">
        <form method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.MiddleName"></label>
                <input asp-for="@Model.MiddleName" class="form-control" />
                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope"></i>
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" value="@this.User.Identity.Name" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-mobile-alt"></i>
                <label asp-for="@Model.Phone"></label>
                <input asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>

            <p class="text-primary mb-3">
                Моля направете своят избор!
                @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Общите условия и Политиката за поверителност</a>*@
            </p>

            <button type="submit" class="btn btn-primary text-uppercase">Назад</button>
            <button type="submit" class="btn btn-primary text-uppercase">Продължи</button>
        </form>
        <br />
    </div>
</div>