@model BuildingManagementSystem.Web.ViewModels.Registrations.RegisterCompanyViewModel

@{
    var loggedUser = this.User.GetId();
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Домова книга</h2>
        <h3 class="text-center text-info">Стъпка 2 - Попълване на данните на юридическото лице</h3>
        <hr />
        <hr />

        <p>Моля попълнете всички полета от формата. След като го направите натиснете бутона <b>'ПРОДЪЛЖИ'</b> за да продължите попълването на електронната Домова книга.</p>
        <p class="mb-4"><b>БЕЛЕЖКА:</b> Ако в предишната Стъпка - <b class="text-info">"Посочване на типа собственост"</b> сте направили неправилен избор може да се върнете назад, като натиснете бутона <b>'НАЗАД'</b> и да направите корекция.</p>
    </div>

    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <form method="post" asp-action="RegisterCompany" asp-controller="Registrations">
            <div class="form-group mt-4">
                <i class="fas fa-header fa-info-circle"></i>
                <label asp-for="@Model.CompanyName"></label>
                <input asp-for="@Model.CompanyName" class="form-control" />
                <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle"></i>
                <label asp-for="@Model.UIC"></label>
                <input asp-for="@Model.UIC" class="form-control" />
                <span asp-validation-for="@Model.UIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.CompanyOwnerFirstName"></label>
                <input asp-for="@Model.CompanyOwnerFirstName" class="form-control" />
                <span asp-validation-for="@Model.CompanyOwnerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label asp-for="@Model.CompanyOwnerLastName"></label>
                <input asp-for="@Model.CompanyOwnerLastName" class="form-control" />
                <span asp-validation-for="@Model.CompanyOwnerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope"></i>
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" value="@this.User.Identity.Name" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-mobile-alt"></i>
                <label asp-for="@Model.Phone"></label>
                <input asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.LoggedUserId" value="@loggedUser" class="form-control" />
                <span asp-validation-for="@Model.LoggedUserId"></span>
            </div>

            <p class="text-primary mb-3">Моля направете своят избор!</p>

            <input type="button" class="btn btn-primary text-uppercase" value="Назад" onclick="window.location= '@Url.Action( "Index", "Registrations")'" />
            <input type="submit" class="btn btn-primary text-uppercase" value="Продължи" />
        </form>
        <br />
    </div>
</div>
