@model IEnumerable<RegisteredUsersDataModel>

@{
    int count = 1;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Потребители</h2>
        <h3 class="text-center text-info">Списък на регистрираните потребители</h3>
        <hr />
        <hr />
        <p class="mb-4">Вие се намирате на страницата, която показва всички потребители, <b>РЕГИСТРИРАНИ</b> в приложението</p>
        <p class="mb-4"><b>БЕЛЕЖКА: </b>Потребител, за да получи достъп до функционалността на приложението е необходимо да му бъде зададена <b class="text-info">роля</b> и регистрацията му да бъде потвърдена от Домоуправителя</p>
    </div>

    <table class="table table-responsive-sm mt-4">
        <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Име</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Е-мейл</th>
                <th scope="col">Телефон</th>
                <th scope="col" class="px-sm-5">Задай роля</th>
                <th scope="col">Потвърди регистрация</th>
                <th scope="col">Изтрий от списъка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <div class="dropdown px-sm-4 py-sm-0 align-items-sm-baseline">
                            <select asp-for="@user.Roles" asp-items="Html.GetEnumSelectList<IdentityRole>()"></select>
                        </div>
                    </td>
                    <td>
                        <div class="align-content-lg-around float-md-none float-md-none">
                            <a asp-controller="Registrations" asp-action="SetRoleToUser" asp-route-id="@user.IsRegisterConfirmed" class="btn btn-outline-primary btn-sm">Регистрирай</a>
                        </div>
                    </td>
                    <td>
                        <div class="align-content-lg-around float-md-none float-md-none">
                            <a asp-controller="Registrations" asp-action="DeleteUser" asp-route-id="@user.IsRegisterConfirmed" class="btn btn-outline-danger btn-sm">Изтрий</a>
                            @*<button asp-controller="Tenants" asp-action="GetTenants" asp-route-id="@user.IsRegisterConfirmed" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalDelete">Изтрий</button>*@
                            @*<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalDelete">Изтрий</button>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="modalDeleteLabel">Изтриване на наемател!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger"><b>Желаете ли да изтриете наемателя?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">Откажи</button>
                <button type="button" class="btn btn-danger text-uppercase" onclick="deleteUser.submit()">Изтрий</button>
            </div>
        </div>
    </div>
</div>-->

