@model ShowAllUsersViewModel

@{
    int count = 1;
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-ld-6 offset-ld-2">
        <h2 class="text-center">Потребители</h2>
        <h3 class="text-center text-info">Списък на регистрираните потребители</h3>
        <hr />
        <hr />
        <p class="mb-4">Вие се намирате на страницата, която показва всички потребители, <b>РЕГИСТРИРАНИ</b> в приложението, на които не е зададена <b>роля</b> и регистрацията не е потвърдена</p>
        <p class="mb-4"><b>БЕЛЕЖКА: </b>Потребител, за да получи достъп до функционалността на приложението е необходимо да му бъде зададена <b class="text-info">роля</b> и регистрацията му да бъде потвърдена от Домоуправителя</p>
    </div>

    <table class="table table-responsive-sm mt-4">
        <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Име</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Е-мейл</th>
                <th scope="col">Телефон</th>
                <th scope="col" class="px-sm-3">Роля</th>
                <th scope="col">Потвърди регистрация</th>
                <th scope="col">Изтрий от списъка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.RegisteredUsers)
            {
                <tr class="table-hover">
                    <th scope="row">@(count++)</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <form id="@user.Id" method="post" asp-action="SetRoleToUser" asp-controller="Registrations">
                            <div class="form-group">
                                <input type="hidden" name="userId" value="@user.Id" />

                                <select required class="roleSelect" name="roleId" asp-items="Html.GetEnumSelectList<IdentityRole>()">
                                    <option selected disabled>Избери роля</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="align-content-lg-around float-md-none">
                            <button id="@user.Id" type="submit" class="registerButton btn btn-outline-primary btn-sm">Регистрирай</button>
                        </div>
                    </td>
                    <td>
                        <div class="align-content-lg-around float-md-none">
                            <a asp-controller="Registrations" asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-outline-danger btn-sm">Изтрий</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(function () {
            var allButtons = $(".registerButton");
            for (var i = 0; i < allButtons.length; i++) {
                $(allButtons[i]).click(function () {
                    // By convention - form has the same Id as the button
                    var buttonId = $(this).attr("id");
                    $('#' + buttonId).submit();
                });
            }
        });
    </script>
}
